langchain==0.3.0
langchain-core>=0.3.0,<0.4.0
langchain-community>=0.3.0
langchain-text-splitters>=0.3.0
langchain-huggingface==0.1.0

chromadb==1.2.1
sentence-transformers==2.6.1
huggingface-hub>=0.33.4

ollama==0.2.1

pydantic>=2.0
pydantic-core>=2.0
